.all {
  background-image: linear-gradient(#ffffffc0,#fcaa67a3), url('https://img.freepik.com/free-vector/monochrome-abstract-contour-line-illustration_53876-80532.jpg?w=2000&t=st=1681871774~exp=1681872374~hmac=c2f772c38e5050a3f862964bdc6c9bc12602185f5025b1d67b853ab6caf7c04d');
  background-repeat: repeat-y;
  background-size: cover;
  /* max-height: ; */
  height: 100vh;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* opacity: .5; */
}

.main{
  padding-left: 35px;
  padding-right: 35px;
}

.NavBar{
  background-color: #373d2041 !important;
  z-index: 1;
  height: 10vh;
  margin-bottom: 35px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

.LogoHeader{
  font-family: "Georgia", serif;
}

.reviewCards {
  /* background-color: #FCAA67; 
  color: #FFFFFF;  */
}

.HomeButton{
  font-family: Futura, sans-serif;
  color: darkgreen;
}

.GearCards{
  /* background-color: #FCAA67; 
  color: #FFFFFF; */
}

#LoginPage{
  background-image: linear-gradient(#fcaa6792,#fcaa674e), url('https://img.freepik.com/free-vector/monochrome-abstract-contour-line-illustration_53876-80532.jpg?w=2000&t=st=1681871774~exp=1681872374~hmac=c2f772c38e5050a3f862964bdc6c9bc12602185f5025b1d67b853ab6caf7c04d');
  height: 100vh;
  width: 100%;
}

/* .button{
  background-color: #FCAA67 !important; rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 1) 
} */